body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100vh;
  background-color: #333;
}

